*{
  margin: 0;
  padding: 0;
}
.all {
  background-image: url(../img/IMG_4522.JPG);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  padding: 40px 80px;
  width: 80vw;
}

.header-left {
  display: flex;
  text-align: center;
}

.header-logo {
  font-size: 70px;
  font-family: 'Pacifico', cursive;
}

ul {
  position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.hamburger-li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger-li > li {
  padding: 50px 0;
}

a {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 50px;
}

.home-main  > div {
  font-size: 40px;
  padding-top: 30px;
  font-family: 'Pacifico', cursive;
  display: inline-block;
}

.yu-ichi {
  animation-name: fadeInAnime;/*1で解説*/
  animation-fill-mode:forwards;/*2で解説*/
  animation-duration:4s;/*3で解説*/
  animation-iteration-count:1;/*4で解説*/
  animation-timing-function:ease;/*5で解説*/
  animation-delay: 0.5s;/*6で解説*/
  animation-direction:normal;/*7で解説*/
  }


@keyframes fadeInAnime {
  0%{
    /*ここに開始のCSSを記述*/
    transform: translateX(-200px);
    }
  
  100%{
    /*ここに終了のCSSを記述*/
    transform: translateX(400px);
    }
  }

  .yuki {
    animation-name: fadeInAnimeyuki;/*1で解説*/
    animation-fill-mode:forwards;/*2で解説*/
    animation-duration:4s;/*3で解説*/
    animation-iteration-count:1;/*4で解説*/
    animation-timing-function:ease;/*5で解説*/
    animation-delay: 0.5s;/*6で解説*/
    animation-direction:normal;/*7で解説*/
    }
  
  
  @keyframes fadeInAnimeyuki {
    0%{
      /*ここに開始のCSSを記述*/
      transform: translateX(-200px);
      }
    
    100%{
      /*ここに終了のCSSを記述*/
      transform: translateX(750px);
      }
    }

    .sussy {
      animation-name: fadeInAnimesussy;/*1で解説*/
      animation-fill-mode:forwards;/*2で解説*/
      animation-duration:4s;/*3で解説*/
      animation-iteration-count:1;/*4で解説*/
      animation-timing-function:ease;/*5で解説*/
      animation-delay: 0.5s;/*6で解説*/
      animation-direction:normal;/*7で解説*/
      }
    
    
    @keyframes fadeInAnimesussy {
      0%{
        /*ここに開始のCSSを記述*/
        transform: translateX(-200px);
        }
      
      100%{
        /*ここに終了のCSSを記述*/
        transform: translateX(950px);
        }
      }

@media screen and (max-width:1200px) {
  .all {
    background-size:contain;
  }

  header {
    padding: 20px 40px;
  }

  .header-logo {
    font-size: 30px;
  }

  .hamburger-li > li {
    padding: 20px 0;
  }

  a {
    font-size: 25px;
  }
}


/* 会社概要HTML */
.wrapper {
  width: 100%;
  height: 280vh;
}
.top_ttl {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.top_left {
  font-size: 250px;
}
.top_right {
  font-size: 150px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.you_ttl {
  margin-right: 60px;
}
.you_ttl>h1 {
  font-size: 80px;
}
.description {
  text-align: center;
  margin: 5% 15%;
}
.description>h2 {
  font-size: 40px;
}
.description>h3 {
  font-size: 30px;
}
.description>p {
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 25px;
  line-height: 90px;
  margin: 50px 0;
  font-family: 'Shippori Mincho', serif;
}
.description span {
  letter-spacing: 0;
  font-weight: bold;
  font-family: 'Big Shoulders Display', cursive;
}
.client_nav {
  margin: 150px 0;
}
.client {
  margin: 50px auto;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.client_nav h3 {
  font-size: 30px;
}
.client img {
  width: 150px;
  padding: 0 20px;
}
.access_nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.access_nav>p {
  margin: 20px 0;
}

.name {
  text-align: center;
  margin: 20px 0;
}

.blur{
	animation-name:blurAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
}

@keyframes blurAnime{
  from {
	filter: blur(10px);
	transform: scale(1.02);
	opacity: 0;
  }

  to {
	filter: blur(0);
	transform: scale(1);
	opacity: 1;
  }
}

.blurTrigger{
    opacity: 0;
}

/* メンバー紹介HTML */

.member_main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.move {
  position: absolute;
  z-index: 10;
  padding-bottom: 280px;
}
.text {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text>img {
  width: 400px;
  height: 300px;
  position: relative;
  z-index: 1;
}
/* 流れる文字 */
.c_1 {
  font-size: 50px;
}
.c_2 {
  font-size: 10px;
}
.c_3 {
  font-size: 30px;
  font-weight: bold;
}
.c_4 {
  font-size: 50px;
}
.c_5 {
  font-size: 15px;
}
.c_6 {
  font-size: 70px;
}
.c_7 {
  font-size: 60px;
  font-weight: bold;
}
.c_8 {
  font-size: 30px;
}
.c_9 {
  font-size: 20px;
}
.member_sheet {
  margin-top: 50px;
  line-height: 50px;
}
.member_sheet>p {
  letter-spacing: 5px;
}
.name {
  font-size: 30px;
}

