*{
  margin: 0;
  padding: 0;
}
.all {
  background-image: url(../img/IMG_4522.JPG);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  padding: 0 5%;
}

.header-left {
  display: flex;
  text-align: center;
}

.header-logo {
  font-size: 70px;
  font-family: 'Pacifico', cursive;
}

ul {
  position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hamburger-li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger-li > li {
  padding: 50px 0;
}

a {
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 50px;
}
